/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
.main{
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.left{
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;

}
.left-inner{
    width: 90%;
    height: 90%;

    margin-top: 20%;
}
 .heading h1{
    font-size: 100px;
    font-weight: 100;
    margin-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
.text{
    width: 100%;
    height: 50%;
   
    padding-left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.icon{
    width: 100%;
    height: 50%;
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}
.inner-icon{
border: solid 2px;
height: 30px;
width: 90px;
border-radius: 20px;
margin-top: 30px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding-left: 6px;
font-size: 14px;
}
 #i1{
    width: 12px;
    height: 12px;
    background: rgb(49, 28, 17);
    border-radius: 100%;
    margin-left: 10px;
}
#i2{
    width: 12px;
    height: 12px;
    background: rgb(0, 0, 0);
    border-radius: 100%;
    margin-left: 2px;
}
.text h1{
   
    font-size: 20px;
    margin-bottom: 10px;
}
.text p{
    font-size: 14px;
    width: 50%;
    margin-bottom: 10px;
}
.right{
    width: 50%;
    height: 100%;
    background: blue;

}
.right-inner{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.right-inner-left{
    height: 100%;
    width: 10%;
    background: #ffffff;
}

.right-inner-center{
    height: 100%;
    width: 60%;
    background: rgb(215, 111, 111);
}
.right-inner-center img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.right-inner-right{
    height: 100%;
    width: 50%;
    background: white;
}
.add-bag{
    width: 100px;
    height: 100px;
    background: rgb(12, 12, 12);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    position: absolute;
    bottom:50%;
    left: 75%;
}
.add-bag h3{
    font-weight: 100;
    font-size: 15px;
   
}
#second-heading{
    rotate: -90deg;
    position: absolute;
    bottom: 200px;
    left: 565px;
    font-size:30px;
    font-weight: 100;
}
.right-inner-center-top{
    width: 100%;
    height: 20%;
  background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#h3{
    font-size: 16px;
    font-weight: 100;
}